{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tic_tac_toe/style.css' %}">
{% with '../../tic_tac_toe/templates/tic_tac_toe/game.html' as ttttemplate %}
<table>
    <tr>
        <td>{% if g0.winner == 0 %} <div>{% include ttttemplate with game=g0 disabled=disabled0 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g0.context.winner }} </div> {% endif %} </td>
        <td>{% if g1.winner == 0 %} <div>{% include ttttemplate with game=g1 disabled=disabled1 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g1.context.winner }} </div> {% endif %} </td>
        <td>{% if g2.winner == 0 %} <div>{% include ttttemplate with game=g2 disabled=disabled2 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g2.context.winner }} </div> {% endif %} </td>
    </tr>
    <tr>
        <td>{% if g3.winner == 0 %} <div>{% include ttttemplate with game=g3 disabled=disabled3 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g3.context.winner }} </div> {% endif %} </td>
        <td>{% if g4.winner == 0 %} <div>{% include ttttemplate with game=g4 disabled=disabled4 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g4.context.winner }} </div> {% endif %} </td>
        <td>{% if g5.winner == 0 %} <div>{% include ttttemplate with game=g5 disabled=disabled5 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g5.context.winner }} </div> {% endif %} </td>
    </tr>
    <tr>
        <td>{% if g6.winner == 0 %} <div>{% include ttttemplate with game=g6 disabled=disabled6 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g6.context.winner }} </div> {% endif %} </td>
        <td>{% if g7.winner == 0 %} <div>{% include ttttemplate with game=g7 disabled=disabled7 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g7.context.winner }} </div> {% endif %} </td>
        <td>{% if g8.winner == 0 %} <div>{% include ttttemplate with game=g8 disabled=disabled8 %}</div> {% else %} <div class="ttt_cell won_board"> {{ g8.context.winner }} </div> {% endif %} </td>
    </tr>
</table>
{% endwith %}
{% if game.game.game_over %}
    {% if game.game.winner == 0 %} The game was a tie. {% endif %}
    {% if game.game.winner == 1 %} Player 1 won. {% endif %}
    {% if game.game.winner == 2 %} Player 2 won. {% endif %}

    <br><a href="{% url 'uttt:index' %}">Return</a>
{% endif %}