{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tic_tac_toe/style.css' %}">
{% with '../../tic_tac_toe/templates/tic_tac_toe/game.html' as ttttemplate %}
Player {{ game.player }}
<table>
    {% for row in game.games %}
        <tr>
        {% for gm in row %}
        <td>
            {% if gm.winner == 0 %}
                {% if forloop.parentloop.counter0 != game.prev_i or forloop.counter0 != game.prev_j %}
                    {% if not free_pick %} <div> {% else %} <div class="enabled_game"> {% endif %}
                    {% include ttttemplate with game=gm disabled='true' free_pick=free_pick game_row=forloop.parentloop.counter0 game_col=forloop.counter0 %}
                {% else %}
                    <div class="enabled_game">{% include ttttemplate with game=gm %}
                {% endif %}
            {% else %} 
                <div class="ttt_cell won_board"> {{ gm.context.winner }}
            {% endif %}
            </div>
        </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endwith %}
{% if game.game.game_over %}
    {% if game.game.winner == 0 %} The game was a tie. {% endif %}
    {% if game.game.winner == 1 %} Player 1 won. {% endif %}
    {% if game.game.winner == 2 %} Player 2 won. {% endif %}

    <br><a href="{% url 'uttt:index' %}">Return</a>
{% endif %}