{% if disabled and not free_pick or game.keep_score or game.game_over %}
    <div id="game-{{ game_row }}-{{ game_col }}" class="ttt-game-board">
{% else %}
    <div id="game-{{ game_row }}-{{ game_col }}" class="ttt-game-board enabled-game">    
{% endif %}
{% for row in game.field %}
    <div class="row no-gutters">
    {% for el in row %}
        {% with i=forloop.parentloop.counter0 j=forloop.counter0 %}
            {% if game.game_over or el %}
                <a class="no-link">
            {% elif free_pick %}
                <a class="ttt-link">
                   {# href="{% url game.play_url game.play_id i j game_row game_col %}"> #}
            {% elif disabled %}
                <a class="no-link">
            {% else %}
                <a class="ttt-link">
                   {# href="{% url game.play_url game.play_id i j %}"> #}
            {% endif %}
            {% if game_row and game_col or game_row == 0 or game_col == 0 %}
                <div onclick="sendToSocket({{ i }}, {{ j }}, {{ game_row }}, {{ game_col }})"
                    id="cell-{{ i }}-{{ j }}-{{ game_row }}-{{ game_col }}"
                    class="cell">{{ el|safe }}</div>
            {% else %}
                <div onclick="sendToSocket({{ i }}, {{ j }})"
                    id="cell-{{ i }}-{{ j }}--"
                    class="cell">{{ el|safe }}</div>
            {% endif %}
            </a>
        {% endwith %}
    {% endfor %}
    </div>
{% endfor %}
</div>
