<div class="ttt-game-board">
{% for row in game.field %}
    <div class="row no-gutters">
    {% for el in row %}
        {% if free_pick %}
            <a class="ttt-link" href="{% url game.play_url game.play_id game_row game_col forloop.parentloop.counter0 forloop.counter0 %}">
        {% else %}
            {% if disabled or game.game_over or el %}
                <a class="no-link">
            {% else %}
                <a class="ttt-link" href="{% url game.play_url game.play_id forloop.parentloop.counter0 forloop.counter0 %}">
            {% endif %}
        {% endif %}
        <div class="cell">{{ el|safe }}</div>
        </a>
    {% endfor %}
    </div>
{% endfor %}
</div>
