{% extends '../common/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tic_tac_toe/style.css' %}">
{% endblock head %}

{% block title %} TTT Game {{ game.pk }} {% endblock title %}

{% block content %}
{% include 'tic_tac_toe/board.html' %}
{% if game.game_over and game.keep_score %}
    {% if game.winner == 0 %} The game was a tie. {% endif %}
    {% if game.winner == 1 %} Player 1 won. {% endif %}
    {% if game.winner == 2 %} Player 2 won. {% endif %}

    <br><a href="{% url 'ttt:index' %}">Return</a>
{% endif %}
{% endblock content %}