{% extends '../common/base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}{% trans 'Sign Up' %}{% endblock %}


{% block content %}
<h2>{% trans 'Sign Up' %}</h2>
<form method="post">
{% csrf_token %}
    {{ form.username|as_crispy_field }}
    {{ form.email|as_crispy_field }}
    {{ form.full_name|as_crispy_field }}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}
    <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
    <a role="button" href="{% url 'common:home' %}" class="btn btn-danger">{% trans 'Cancel' %}</a>
</form>
{% endblock %}