{% with 'tic_tac_toe/board.html' as ttttemplate %}

Player {{ game.player }}
<div class="container uttt-game-board">
{% for row in game.games %}
    <div class="row no-gutters">
    {% for gm in row %}
        {% if gm.winner == 0 %}
            {% if not my_turn or forloop.parentloop.counter0 != game.prev_i or forloop.counter0 != game.prev_j %}
                {% if not free_pick or not my_turn %} <div class="col"> {% else %} <div class="col enabled-game"> {% endif %}
                {% include ttttemplate with game=gm disabled='true' free_pick=free_pick game_row=forloop.parentloop.counter0 game_col=forloop.counter0 %}
            {% else %}
                {% if game.game.game_over %} <div class="col"> {% else %} <div class="col enabled-game"> {% endif %}
                {% include ttttemplate with game=gm %}
            {% endif %}
            </div>
        {% else %} 
            <div class="col cell won-board"> {{ gm.context.winner }} </cell>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
</div>

{% endwith %}
