{% extends '../common/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tic_tac_toe/style.css' %}">
{% endblock head %}


{% block title %} UTTT Game {{ game.pk }} {% endblock title %}


{% block content %}
{% include 'ultimate_tic_tac_toe/board.html' %}

{% if game.game_over %}
    {% if game.winner == 0 %} The game was a tie. {% endif %}
    {% if game.winner == 1 %} Player 1 won. {% endif %}
    {% if game.winner == 2 %} Player 2 won. {% endif %}

    <br><a href="{% url 'uttt:index' %}">Return</a>
{% else %}
    <script>
        setTimeout(function(){
            let e = document.getElementsByClassName("enabled-game")[0];
            e.scrollIntoView({behavior: "smooth", block: "center", inline: "center"});
        }, 250);
    </script>
{% endif %}

{% endblock content %}


{% block script %}
<script  src="{% static 'js/app.js' %}"></script>
{% endblock script %}
