.cf-game-board,
.ttt-game-board,
.uttt-game-board {
    margin: 3px;
}
.cf-game-board > .row,
.ttt-game-board > .row,
.uttt-game-board > .row {
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
}

.col,
.ttt-game-board {
    width: calc(12rem + 3*2*2px);
    flex-grow: 0;
}

.uttt-game-board {
    width: 660px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.cell {
    display: block;
    border: 1px solid var(--border-color);
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    font-family: Helvetica, sans-serif;
    color: var(--color);
    text-align: center;
    margin: 2px;
}

.enabled-game {
    background-color: var(--enabled-game);
}

.no-link:hover {
    cursor: default;
}

a.cf-link,
a.ttt-link {
    text-decoration: none;
    cursor: pointer !important;
}

.won-board {
    margin: 5px;
    width: calc(12rem + 2*2*2px) !important;
    height: calc(12rem + 2*2*2px);
    font-size: calc(12rem + 3*2*2px);
    flex-grow: 0;
}

[class*="material-icons"] {
    font-size: 4rem;
    font-weight: 900;
    margin-left: -0.24rem;
}

.won-board > [class*="material-icons"] {
    font-size: calc(12rem + 3*2*2px);
    font-weight: 900;
    margin-left: -0.46rem;
    margin-top: 0.074rem;
}

.debug-cell {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: calc(-4rem - 2*2px);
}