.ttt_cell {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    font-size: 60px;
    font-family: Helvetica, sans-serif;
    color: black;
    text-align: center;
}

a.ttt_link {
    text-decoration: none;
}