{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tic_tac_toe/style.css' %}">

{% comment %} game id: {{ game_id }}
field: {{ field }} {% endcomment %}
{% comment %} <table>
    {% for row in field %}
        <tr>
        {% for el in row %}
            <a href="{% url 'ttt:play' game_id 0 forloop.counter %}"><td style="border: 1px solid black; width: 20px; height: 20px"> {{ el }} </td></a>
        {% endfor %}
        </tr>
    {% endfor %}
</table> {% endcomment %}
{% comment %} <br /> {{ html }} <br /> {% endcomment %}

{% if game.game_over %}
    <table>
        <tr>
            <td><div class="ttt_cell">{{ game.context.field0 }}</div></td>
            <td><div class="ttt_cell">{{ game.context.field1 }}</div></td>
            <td><div class="ttt_cell">{{ game.context.field2 }}</div></td>
        </tr>
        <tr>
            <td><div class="ttt_cell">{{ game.context.field3 }}</div></td>
            <td><div class="ttt_cell">{{ game.context.field4 }}</div></td>
            <td><div class="ttt_cell">{{ game.context.field5 }}</div></td>
        </tr>
        <tr>
            <td><div class="ttt_cell">{{ game.context.field6 }}</div></td>
            <td><div class="ttt_cell">{{ game.context.field7 }}</div></td>
            <td><div class="ttt_cell">{{ game.context.field8 }}</div></td>
        </tr>
    </table>
    {% if game.winner == 0 %} The game was a tie. {% endif %}
    {% if game.winner == 1 %} Player 1 won. {% endif %}
    {% if game.winner == 2 %} Player 2 won. {% endif %}

    <br><a href="{% url 'ttt:index' %}">Return</a>
{% else %}
    <table>
        <tr>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 0 0 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field0 }}</div>
                </a>
            </td>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 0 1 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field1 }}</div>
                </a>
            </td>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 0 2 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field2 }}</div>
                </a>
            </td>
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 0 1 %}"><div class="ttt_cell">{{ game.context.field1 }}</div></a></td> {% endcomment %}
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 0 2 %}"><div class="ttt_cell">{{ game.context.field2 }}</div></a></td> {% endcomment %}
        </tr>
        <tr>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 1 0 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field3 }}</div>
                </a>
            </td>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 1 1 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field4 }}</div>
                </a>
            </td>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 1 2 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field5 }}</div>
                </a>
            </td>
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 1 0 %}"><div class="ttt_cell">{{ game.context.field3 }}</div></a></td> {% endcomment %}
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 1 1 %}"><div class="ttt_cell">{{ game.context.field4 }}</div></a></td> {% endcomment %}
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 1 2 %}"><div class="ttt_cell">{{ game.context.field5 }}</div></a></td> {% endcomment %}
        </tr>
        <tr>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 2 0 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field6 }}</div>
                </a>
            </td>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 2 1 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field7 }}</div>
                </a>
            </td>
            <td>
                {% if disabled %} <a> {% else %} <a class="ttt_link" href="{% url game.play_url game.play_id 2 2 %}"> {% endif %}
                <div class="ttt_cell">{{ game.context.field8 }}</div>
                </a>
            </td>
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 2 0 %}"><div class="ttt_cell">{{ game.context.field6 }}</div></a></td> {% endcomment %}
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 2 1 %}"><div class="ttt_cell">{{ game.context.field7 }}</div></a></td> {% endcomment %}
            {% comment %} <td><a class="ttt_link" href="{% url game.play_url game.play_id 2 2 %}"><div class="ttt_cell">{{ game.context.field8 }}</div></a></td> {% endcomment %}
        </tr>
    </table>
{% endif %}