.cf-game-board,
.ttt-game-board,
.uttt-game-board {
    margin: 3px;
}

.col,
.ttt-game-board {
    width: calc(12rem + 3*2*2px);
    flex-grow: 0;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.cell {
    display: block;
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    font-family: Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin: 2px;
}

.enabled-game {
    background-color: lightgreen;
}

.no-link:hover {
    cursor: default;
}

a.cf-link,
a.ttt-link {
    text-decoration: none;
}

.won-board {
    margin: 3px;
    width: 192px;
    height: 192px;
    font-size: 204px;
}

.fa-circle {
    -webkit-text-stroke: 6px;
    margin-top: 9px;
    font-size: 44px;
}
