<div class="container">
    <div class="container">
        {% include "common/search.html" %}
    </div>
    <div class="table-responsive">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player 1</th>
                    <th scope="col">Player 2</th>
                </tr>
            </thead>
            <tbody>
            {% for game in game_list %}
                <tr>
                    <th scope="row"><a href="{% url url_game game.pk %}" class=""><div>{{ game.pk }}</div></a></th>
                    <td>{{ game.p1.username }}</td>
                    <td>{{ game.p2.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "common/pagination.html" %}
    <a href="{% url url_new_game %}" class="btn btn-primary">New game</a>
</div>
