{% load i18n %}
{% load tags %}

<div class="container">
    <div class="container">
        {% include "common/search.html" %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-default bg-default">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Username' %}</th>
                    <th scope="col">{% trans 'Wins' %}</th>
                    <th scope="col">{% trans 'Losses' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for player in player_list %}
                {% if player.is_active %}
                <tr>
                    <th scope="row" class="button-cell text-center">
                        <a href="{% url url_new_game player.pk %}" class="btn btn-outline-primary">{{ forloop.counter }}</a>
                    </th>
                    <td>{{ player.get_full_name }}</td>
                    <td>{{ player.username }}</td>
                    <td>{{ player.wins }}</td>
                    <td>{{ player.losses }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% include "common/pagination.html" %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-default bg-default">
            <thead>
                <tr>
                    <th scope="col" class="text-left" colspan="3">{% trans 'AI' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for ai in ai_list %}
                <tr>
                    <th scope="row" class="text-left">
                        {{ ai.slug }}
                    </th>
                    <td class="button-cell">
                        <a href="{% url url_new_game ai.slug 0 %}" class="btn btn-link">{% trans 'As player 1' %}</a>
                    </td>
                    <td class="button-cell">
                        <a href="{% url url_new_game ai.slug 1 %}" class="btn btn-link">{% trans 'As player 2' %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
