{% extends "../common/base.html" %}

{% block title %} Leaderboard {% endblock title %}

{% load tags %}

{% block content %}
<div class="container">
    <div class="container">
        {% include "common/search.html" %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-right">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                    {% if request.user.is_authenticated %}
                        <th scope="col">Friends</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for player in player_list %}
                {% if request.user.is_authenticated %}
                    {% is_friend request.user player as is_friend %}
                {% endif %}
                <tr>
                    <th scope="row" class="text-right">{{ forloop.counter }}</th>
                    <td>{{ player.get_full_name }}</td>
                    <td>{{ player.username }}</td>
                    <td>{{ player.wins }}</td>
                    <td>{{ player.losses }}</td>
                    {% if request.user.is_authenticated and player.username != 'ai' %}
                        {% if is_friend %}
                            <td><a href="{% url 'common:remove_friend' player.pk %}"><div>Remove</div></a></td>
                        {% else %}
                            <td><a href="{% url 'common:add_friend' player.pk %}"><div>Add</div></a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "common/pagination.html" %}
</div>

{% endblock content %}