{% extends "../common/base.html" %}
{% load tags %}
{% load i18n %}


{% block title %}{% trans 'Leaderboard' %}{% endblock title %}


{% block content %}
<div class="container">
    <div class="container">
        {% include "common/search.html" %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-right">#</th>
                    <th scope="col" class="d-none d-sm-table-cell">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Username' %}</th>
                    <th scope="col" class="text-right">{% trans 'Wins' %}</th>
                    <th scope="col" class="text-right d-none d-md-table-cell">{% trans 'Losses' %}</th>
                    {% if request.user.is_authenticated %}
                        <th scope="col" class="text-center">{% trans 'Friends' %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for player in player_list %}
                {% if request.user.is_authenticated %}
                    {% is_friend request.user player as is_friend %}
                {% endif %}
                <tr>
                    <th scope="row" class="text-right">{{ forloop.counter }}</th>
                    <td class="d-none d-sm-table-cell">{{ player.get_full_name }}</td>
                    <td>{{ player.username }}</td>
                    <td class="text-right">{{ player.wins }}</td>
                    <td class="text-right d-none d-md-table-cell">{{ player.losses }}</td>
                    {% if request.user.is_authenticated %}
                        <td class="button-cell icon-button text-center">
                        {% if player.username != 'ai' %}
                            {% if is_friend %}
                                <a href="{% url 'common:remove_friend' player.pk %}"
                                   class="btn btn-outline-danger"
                                   aria-label="{% trans 'remove friend' %}">
                                    <div aria-hidden="true">{% icon 'remove' 'round' %}</div>
                                </a>
                            {% else %}
                                <a href="{% url 'common:add_friend' player.pk %}"
                                   class="btn btn-outline-success"
                                   aria-label="{% trans 'add friend' %}">
                                    <div aria-hidden="true">{% icon 'add' 'round' %}</div>
                                </a>
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "common/pagination.html" %}
</div>

{% endblock content %}