@-ms-viewport {
    width: device-width;
}

.button-cell {
    padding: 0.5rem !important;
}

.button-cell > .btn {
    padding: 0 !important;
}

.button-cell > div,
.button-cell > .btn {
    min-width: 4rem !important;
    min-height: 1.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.button-cell.icon-button > div,
.button-cell.icon-button > .btn {
    min-width: 1.5rem !important;
    min-height: 1.5rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}
