<div class="cf-game-board">
{% for row in game.field %}
    <div class="row no-gutters">
    {% for el in row %}
        {% if disabled or game.game_over %}
            <a class="no-link">
        {% else %}
            <a class="cf-link"> {# href="{% url 'cf:play' game.pk forloop.counter0 %}"> #}
        {% endif %}
        <div onclick="sendToSocket('', '', {{ forloop.parentloop.counter0 }}, {{ forloop.counter0 }})"
            id="cell---{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
            class="cell">{{ el|safe }}</div>
        </a>
    {% endfor %}
    </div>
{% endfor %}
</div>
