{% extends '../common/base.html' %}
{% load static %}
{% load tags %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tic_tac_toe/style.css' %}">
{% endblock head %}


{% block title %}{% blocktrans %}CF Game {{ game.pk }}{% endblocktrans %}{% endblock title %}

{% block content %}
<div class="container">
{% include 'connect_four/board.html' %}
{% if game.game_over %}
    {% if game.winner == 0 %} {% trans 'The game was a tie.' %} {% endif %}
    {% if game.winner == 1 %} {% trans 'Player 1 won.' %} {% endif %}
    {% if game.winner == 2 %} {% trans 'Player 2 won.' %} {% endif %}

    <br><a href="{% url 'cf:index' %}">Return</a>
{% endif %}
</div>
{% endblock content %}


{% block script %}
<script>
    let gamePK = {{ game.pk }};
    let player = {{ game.player }};
    let icon1 = '{% icon 'clear' 'round' %}';
    let icon2 = '{% icon 'fiber_manual_record' 'outlined' %}';
    let reload = false;
</script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock script %}